<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings> <!-- Det är enklare att ändra databasanslutningen genom att lagra connectionstring här utan att behöva ändra i alla sidor -->
		<add name="LibraryManagement" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=LibraryManagement; Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>